<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<table>
  <thead>
      <tr>
       <td>Name</td>
       <td>price</td>
       <td>Url</td>>
      <td colspan="3"></td>
      </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.price %></td>
        <td><%= image_tag "https://www.bing.com/th?id=OIP.EGGtH-Ne07qobnfeqQVFFwHaFG&w=227&h=160&c=7&o=5&pid=1.7.png" %></td>
        <td><%= link_to 'Show', pizza %></td>
        <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
        <td><%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza', new_pizza_path %>
